ul li{
	list-style: none;
}
body{
	background: #eaeaea;
}
.sideleft{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
.sideright{
	width: 66%;
	display: inline-block;
	vertical-align: top;
}
.sideright>div>div{
	display: flex;
}
.sideleft h1{
	font-size: 1rem;
}
.headimg{
	width: 2rem;
	height: 2rem;
	border:1px solid #000;
	display: inline-block;
	border-radius: 1rem;
}
.connect{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 50px;
}












.aaa{
	height: 40px;
	line-height: 40px;
	background: #333;
	color: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 20px;
}
.bbb{
	height: 40px;
	background: #fff;
	line-height: 40px;
	border-radius: 10px;
}
.dl{
	width: 100px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
